Source: cache-stnsd
Section: admin
Priority: optional
Maintainer: pyama86 <www.kazu.com@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/STNS/cache-stnsd
Vcs-Browser: https://github.com/STNS/cache-stnsd/tree/debian
Vcs-Git: https://github.com/STNS/cache-stnsd -b debian

Package: cache-stnsd
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This process provided caching response from stns.
