[Unit]
Description=stns cache server
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/cache-stnsd.pid
ExecStart=/usr/sbin/cache-stnsd server --log-file /var/log/cache-stnsd.log
Restart=on-failure

KillSignal=SIGINT
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
